/** Amadou 3.x
*/

* {
	padding: 0px;
	margin: 0px;
}

body { background-color: #e8f5fb; color:#000040; font-family: Verdana, Arial; font-size:small; }

a, a:active, a:hover, a:visited { color: #43bbfd; text-decoration: none; }
a:hover { color: #33cbfd; }
.sideBars .blue a, .sideBars .blue a:visited, .sideBars .blue a:active, .sideBars .blue li a.active { color: #fff; }
h2, h2 a, h2 a:hover, h2 a:active, h2 a:visited { color: #43bbfd; padding-bottom: 10px; }

h1,h2,h3,h4,h5,h6 { font-weight:normal; margin:0; padding:0; }
h1 { color: #43bbfd; font-size: 18px; font-weight: bold; }
h1 a { color: white; text-decoration: none; } 
h3 { font-weight: bold; font-size: 12px; background: url("images/line1.gif") no-repeat; padding: 0 0 3px 0; margin-bottom: 6px; background-position: bottom left; }

.node .meta { color: #9e9e9e; padding-bottom: 10px; }

.header { background: url("images/header-bg.gif") repeat-x; height: 118px; }

.logo { width: 960px; padding: 30px 0 0 0; margin: 0 auto; }
.logo img {float: left;margin-right: 20px;}
.logo h1 {padding: 15px 0 0 10px;}
.logo h1 a { color: #fff; font-size: 1.2em;}

.clear { clear: both; }

#menu { background-color: #000000; border-bottom: 5px solid #43bbfd; margin-bottom: 15px; height: 38px; } 
#menu ul { list-style-type: none; width: 960px; margin: 0 auto; } 
#menu li { display: block; float: left; height: 21px; padding: 10px 0 5px 0; } 
#menu li a { margin: 0 15px 0 15px; color: #ffffff; font-weight: bold; text-decoration: none; font-size: 11px; }

#menu li a:hover { border-bottom: 2px solid #ffffff; }
.main { width: 980px; margin: 0 auto; }
#mainContent { float: left; } 

.mainContent-content { background: url("images/top-bg.gif") no-repeat; background-color: #ffffff; width: 684px; padding: 20px; }
.mainContent-end {background: url("images/top-bottom-bg.gif") no-repeat;height:9px;width: 724px;}

#sideBars-bg { float: right; margin-left: 10px; }

#sideBars-bg .sideBars { background: url("images/news-bg.gif") no-repeat; background-color: #106ab5; width: 198px; color: #f2f2f2; padding: 12px 15px 0 15px; } 

#footer { width: 684px; color: #727272; text-align: right; font-size: smaller; margin: 10px 5px 0 0; } 
#sideBars-bg .white { background: url("images/small-bg.gif") no-repeat; background-color: #f7f7f7; color: #43bbfd; }
#sideBars-bg .blue-end {background: url("images/news-bottom-bg.gif") no-repeat;height:16px;margin: 0 0 20px 0;width: 228px;}
#sideBars-bg .white-end {background: url("images/small-bottom-bg.gif") no-repeat;height:16px;margin: 0 0 20px 0;width: 228px;}
#sideBars-bg .white h3 {background: url("images/line3.gif") no-repeat;color: #43bbfd;background-position: bottom left;}


.sideBars li, .sideBars li.leaf { list-style-type: disc; list-style-image: none; }

div.status { background-color: #E8F5FB; padding: 2px; border: 1px solid #c9c7Fc; margin-bottom: 5px; }
.node-sep hr { display: none; }
.node-sep { background: url('images/node-sep.gif') center left repeat-x; margin: 20px 0;}
.node .links { padding-top: 20px; }
.node ul.links li { padding: 0 10px 0 0; }
.node p { padding-bottom: 5px; }
table td, table th { padding: 5px; }
.node table tbody { border: none; }
table { border: 1px solid #9e9e9e; margin-bottom: 5px;}
